/* =========================================================================
   SITE FOOTER
========================================================================== */
body>footer {
    grid-area: footer;

    padding: .2rem .2rem;

    max-height: fit-content;

    background: linear-gradient(180deg, #f8fafc, #eef2ff);
    border-top: 1px solid #c7d2fe;
    border-radius: 0px 0px 0 0;

    font-family: system-ui, -apple-system, Segoe UI, monospace;
    color: #1f2937;

    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    box-shadow:
        0 -4px 12px rgba(99, 102, 241, 0.06),
        inset 0 1px 0 rgba(255, 255, 255, 0.7);

    text-align: left;
}

body>footer h4 {
    margin: 0;

    font-size: 1rem;
    font-weight: 700;
    color: #4338ca;
}

body>footer p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #475569;
}



@media (max-width: 600px) {
    :root {
        --header-height: 64px;
    }

    /* =========================================================================
   SITE FOOTER FOR SMALL SCREEN
========================================================================== */
    body>footer {
        padding: 0.9rem 1.2rem;
    }

    body>footer h4 {
        font-size: 0.9rem;
    }

    body>footer p {
        font-size: 0.82rem;
    }
}