#side-left,
#side-right{
    display: none;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "main-content"
        "footer";
    grid-template-rows: auto auto 1fr auto;
}

#main-content,#footer {
    justify-self: center;
    align-self: start;
    max-width: 100%;
}


@media (min-width: 600px) {
    #main-content,#footer {
        max-width: 95%;
    }
}

@media (min-width: 992px) {
    #main-content, #footer {
        max-width: 75%;
    }
}